@use "../variables" as var;
.calc__wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}
.calc {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
}
.calc__output {
  flex-basis: 75%;
  background-color: rgb(26, 26, 26);
  color: var.$bg-light;
  border: 1px solid;
  outline: none;
  font-size: 2rem;
  text-align: right;
  border-radius: 5px;
  padding-right: 15px;
}

.calc__input {
  flex-basis: calc(100% / 4);
  background: orange;
  border: 1px solid var.$bg-light;
  outline: none;
  margin: 0;
  padding: 10px 0 10px 0;
  font-size: 1.6rem;
  color: #202020;
  border-radius: 5px;
}
.calc__input:active {
  background: #da8300;
}

.calc__reset {
  background: #e90000;
}

.calc__reset:active {
  background: #cf0000;
}

.calc__zero {
  flex-grow: 1;
}

.calc__special {
  background: #979797;
}

.calc__special:active {
  background: #707070;
}
