@use "variables" as var;
*,
*::after,
*::before {
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap");
@font-face {
  font-family: calc;
  src: url(../src/assets/fonts/LCDM2B__.ttf);
}

.body {
  font-size: 16px;
  background: var.$bg-light;
  font-family: Comfortaa;
}
