@use "variables" as var;
*,
*::after,
*::before {
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@font-face {
  font-family: Calculator;
  src: url(src/assets/fonts/Calculator.ttf);
}

.body {
  font-size: 16px;
  background: var.$bg-light;
  font-family: Roboto;
}
